<section id="title" class="emerald seccion1">
  <br><br><br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-6">
      <h1>Editar actor</h1>
    </div>
    <div class="col-sm-6">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Actores</li>
      </ul>
    </div>
  </div>
</div>
</section>


<div class="jumbotron">
<%= render 'form' %>
</div>


