<section id="title" class="emerald seccion1">
  <br><br><br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-6">
      <h1>Cartelera</h1>
    </div>
    <div class="col-sm-6">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Obras</li>
      </ul>
    </div>
  </div>
</div>
</section>
<br><br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="col-md-7">
    <a href="#">
      <img class="img-responsive" src="http://placehold.it/700x300" alt="">
   </a>
  </div>
  
  <div class="col-md-5">
    <h3>Nombre de la obra</h3>
    <br>
    <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    <br>
    <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>  
 </div>   
</div>