<section id="title" class="emerald seccion1">
  <br><br><br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-5">
      <h1>Crear reservacion de tickets</h1> 
    </div>
     <div class="col-sm-1">
      <%= image_tag 'ticket1.png' , size:'100x105', style:"padding-bottom:45px"%>
    </div>
    <div class="col-sm-6">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Reservacion de tickets</li>
      </ul>
    </div>
  </div>
</div>
</section>

<div class="jumbotron">
<h2><%= "#{ @play.title }" %></h2>

<%= render 'form' %>

</div>
