<h1>Listar Sugerencias</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.age %></td>
        <td><%= feedback.title %></td>
        <td><%= link_to 'Show', feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

