<section id="title" class="emerald seccion1">
  <br><br><br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-3">
      <h1>¡Danos tu opinión!</h1>
    </div>
      <div class="col-sm-2">
       <%= image_tag 'pluma.png' , size:'65x115', style:"padding-bottom:65px"%>
    </div>
    <div class="col-sm-7">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Sugerencias</li>
      </ul>
    </div>
  </div>
</div>
</section>
<div class="jumbotron">
<%= render 'form' %>
</div>


