// Place all the styles related to the InfoGenerals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{	border-radius:10px;
  height: 250px;
	width: 350px;
	position:relative;
  margin: 0px auto;
	margin-top:15px;
}
